body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.satispay {
    background-color: #ff0000;
    color: #fff;
}

.contanti {
    background-color: #00ff00ad;
    color: #fff;
}

button img {
    vertical-align: middle;
    margin-right: 10px;
}

button:hover {
    background-color: #bbb;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #ffd700;
}

/* Menu Responsive */
.navbar-toggle {
    cursor: pointer;
    display: none;
}

.toggle-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.open {
    transform: rotate(45deg);
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin-bottom: 10px;
    }

    .navbar-toggle {
        display: block;
    }

    .container {
        margin: 20px;
        padding: 10px;
    }
}

